<div class="span7">
  
  <%= form_tag "/account/update", :method => :post do %>
    <table border="0">
      <% Settings.sections.each do |section| %>
        <tr>
          <td colspan="2">
            <strong><%= section.label.html_safe %></strong>
          </td>
        </tr>
        <% section.fields.each do |field| %>
          <% values = @user_entry[field.name].length < 1 ? [""] : @user_entry[field.name] %> 
          <% values.each_with_index do |value,i| %>
            <% value = session[:last_params][field.name] unless session[:last_params].nil? %>
            <tr>
              <td><%= label_tag field.name, field.label %></td>
              <td>
                <% if field.editable and !field.password %>
                  <%= text_field_tag field.name,
                    ((value.force_encoding('UTF-8') rescue "") unless field.ignore_value) %>
                <% elsif field.password and field.editable %>
                  <%= password_field_tag field.name,
                    ((value.force_encoding('UTF-8') rescue "") unless field.ignore_value) %>
                <% else %>
                  <%= value.force_encoding('UTF-8') rescue @user_entry[field.name][i] %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>

      <tr>
        <td colspan="2">
          <%= submit_tag "Daten aktualisieren" %>
        </td>
      </tr>
    </table>
  <% end %>

  <% content_for :sidebar do %>

  <% end %>
</div>
<div class="span5">
  <strong>Deine E-Mail Signatur</strong>
  <pre>
    --
    Piratenfraktion im Landtag NRW
    <%= @user_entry[:description][0] %>

    Nick: <%= @user_entry[:nick][0] %>
    Tel.: <%= @user_entry[:telephoneNumber][0] %>
    Fax.: <%= @user_entry[:facsimileTelephoneNumber][0] %>
    Raum: <%= @user_entry[:roomNumber][0] %>
  </pre>
</div><!--/span-->


