<%= form_tag "/account/update", :method => :post do %>
  <table border="0">
    <% Settings.sections.each do |section| %>
      <tr>
        <td colspan="2">
          <strong><%= section.label.html_safe %></strong>
        </td>
      </tr>
      <% section.fields.each do |field| %>
        <% values = @user_entry[field.name.to_sym].length < 1 ? [""] : @user_entry[field.name.to_sym] %> 
        <% values.each do |value| %>
          <tr>
            <td><%= field.label %></td>
            <td>
              <% if field.editable and !field.password %>
                <%= text_field_tag field.name.to_sym, ((value.force_encoding('UTF-8') rescue "") unless field.ignore_value) %>
              <% elsif field.password and field.editable %>
                <%= password_field_tag field.name.to_sym, ((value.force_encoding('UTF-8') rescue "") unless field.ignore_value) %>
              <% else %>
                <%= value.force_encoding('UTF-8') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>

    <tr>
      <td colspan="2">
        <%= submit_tag "Daten aktualisieren" %>
      </td>
    </tr>
  </table>
<% end %>
